<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Бонус от Ольги Веды «Название»")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		meta(property="og:image" content="")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		link(rel="appendix" href="/sitemap/")
		title Бонус от Ольги Веды «Название»
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body#bonus
		section#main_screen
			#header
				.container
					a(href="/", target="_blank")
						img#logo(src="img/logo.png", alt="Логотип")
					.contacts
						a#tel(href="callto:8-499-346-79-46")
							i.fa.fa-phone(aria-hidden="true")
							span 8-499-346-79-46         
						a#skype(href="skype:add?admin-mastervision")
							i.fa.fa-skype(aria-hidden="true")
							span admin-mastervision
						a#mail(href="mailto:info@mastervision.su")
							i.fa.fa-envelope(aria-hidden="true")
							span info@mastervision.su
			#first_screen_section
				.container
					p#pre Бонус от Ольги Веды
					h1 Название бонуса
					.video_wrapper
						iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
		include pug/auxul_footer