<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1, maximum-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="Master Vision")
		meta(name="description" content="Бесплатный 5-ти дневный интенсив «Астрология - магия звезд. Найдите свой путь к здоровью, счастью и деньгам за 5 дней!»")
		meta(name="keywords" content="")
		meta(name="robots" content="index, follow")
		meta(name="revisit-after" content="7 days")
		meta(property="og:image" content="")
		link(rel="icon" type="image/x-icon" href="favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.png")
		link(rel="appendix" href="/sitemap/")
		title Бесплатный 5-ти дневный интенсив «Астрология - магия звезд. Найдите свой путь к здоровью, счастью и деньгам за 5 дней!»
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/styles.css")
	body

		include pug/scripts
		<!--BEGIN JIVOSITE CODE-->
		//script
			| (function() {var widget_id = 'cMdj5UfoZX';var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = '//code.jivosite.com/script/widget/' + widget_id;var ss = document.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s, ss);})();
		<!--END JIVOSITE CODE-->
		iframe(name="results" style="display:none;")