section#author
	.container
		h3 О 
			span тренере
		#about
			h4
				img(src="img/veda_h.png", alt="Ольга Веда")
			p Я волшебница в 3 поколении, постоянно обучающаяся современным эзотерическим и магическим практикам, имею множество дипломов
			p Начала я обучаться еще в детстве, помогая своей бабушке в различных ритуалах, тогда же получила древние магические знания, но магия как и другая наука не стоит на месте. Уже во взрослом возрасте я прошла школу ДЭИР, изучала метод системных расстановок, закончила Американскую школу гипноза, обучалась в институте реинкарнационики. Я живу в Египте, где познаю и успешно применяю секретные знания Египетской магии, которая была доступна только жрецам Фараонов
			p Благодаря объединению древних знаний и современных методик мною была выработана авторская программа, направленная на исцеление души и тела и гармонизацию всех областей жизни не только обратившегося ко мне человека, но и его окружения автоматически
			p Исключительность моего метода состоит в том, что в процессе работы я не только убираю проблему, но и даю Вам инструменты для коррекции Вашей жизни, то есть на подсознательном уровне Вы обучаетесь работать самостоятельно, что в дальнейшем позволит Вам не обращаться ни к кому и не тратить Ваши деньги
section#serts
	.container
		.row
			.col-md-4
				a(href="img/cert_1_big.jpg" data-fancybox="certs")
					img(src="img/cert_1_min.jpg", alt="Сертификат 1")
			.col-md-4
				a(href="img/cert_5_big.jpg" data-fancybox="certs")
					img(src="img/cert_5_min.jpg", alt="Сертификат 5")
			.col-md-4
				a(href="img/cert_6_big.jpg" data-fancybox="certs")
					img(src="img/cert_6_min.jpg", alt="Сертификат 6")
			.clearfix
			.col-md-4
				a(href="img/cert_4_big.jpg" data-fancybox="certs")
					img(src="img/cert_4_min.jpg", alt="Сертификат 4")
			.col-md-4
				a(href="img/cert_2_big.jpg" data-fancybox="certs")
					img(src="img/cert_2_min.jpg", alt="Сертификат 2")
			.col-md-4
				a(href="img/cert_3_big.jpg" data-fancybox="certs")
					img(src="img/cert_3_min.jpg", alt="Сертификат 3")
	a.button(href="/veda-magic-of-desires/partnership", target="_blank") Партнерская программа