footer#footer
	.continer
		p ИП Кудряшов Александр Анатольевич г. Москва, Новокуркинское шоссе, 27 ИНН 720410077658 ОГРН 315723200065100 
		a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств