mixin pains(p,class_n)
	.col-md-3.col-sm-6
		.inner_block
			.img_wrapper
			p.pains= p
section#for_whome
	.container
		h3 Этот 
			span интенсив необходим 
			| для тех, у кого:
		#pains_wrapper
			.row
				+pains('Унылая серая жизнь')
				+pains('Невозможность избавиться от вредных привычек')
				+pains('Невозможность создать семью')
				+pains('Безденежье и долги')
				+pains('Длительное неисполнение желания или отсутствие энегрии ')
				+pains('Негативное магическое воздействие')
				+pains('Проблемы со здоровьем')
				+pains('Невозможность продать недвижимость, отсутствие собственного жилья')
				+pains('Отсутствие уверенности в завтрашнем дне')
				+pains('Отсутствие нормальной работы')
				+pains('Невидение пути исполнения огромного многоуровневого желания')
				+pains('Отсутствие надежного плеча рядом')