#header
	.container
		a(href="/", target="_blank")
			img#logo(src="img/logo.png", alt="Логотип")
		.contacts
			a#tel(href="callto:8-499-346-79-46")
				i.fa.fa-phone(aria-hidden="true")
				span 8-499-346-79-46         
			a#skype(href="skype:add?admin-mastervision")
				i.fa.fa-skype(aria-hidden="true")
				span admin-mastervision
			a#mail(href="mailto:info@mastervision.su")
				i.fa.fa-envelope(aria-hidden="true")
				span info@mastervision.su