include header
#first_screen_section
	.container
		p#pre Бесплатный 5-ти дневный интенсив
		h1 
			img(src="img/h1.png", alt="МАГИЯ ЖЕЛАНИЙ")
		h2 Притягивайте желаемые ситуации, финансы, отношения и здоровье за 5 дней!
		img#date(src="img/author_&_date.png", alt="Даты проведения: с 26 по 30 марта  19:00 мск, Автор курса: Ольга Веда")
		.video_wrapper
			iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
		img#veda_main(src="img/veda_main.png", alt="Ольга Веда")