mixin days(src, h4, h5,bonus, ...items)
	.day_wrapper
		img.day_img(src= src, alt= h4)
		.day_description
			h4= h4
			h5 На заняти понадобятся: 
				span= h5
			ul
				each item in items
					li= item
			p.bonus Бонус 
				span= bonus
section#plan
	.container
		h3 План 
			span интенсива
		#plan_wrapper
			+days('img/day_1.jpg','1 день','Ручка, бумага, диктофон (или скачать программу)','Волшебная палочка','Почему не исполняются желания','Ритуал выявления истинного желания','Как ваши стартовые позиции влияют на исполнение желаний','Ритуал знакомства с духами (диктофон)')
			+days('img/day_2.jpg','2 день','Ручка, бумага, сшить маленький белый мешочек, в него положить фасоль, лавровый лист, тыквенные семечки (всего не более 13 предметов), 3 стакана, вода, резинка аптечная или для денег','привлекаем желаемое','Как реализовать огромное желание','Почему ваши желания исполняются у других людей?','Где взять силу чтобы ускорить исполнение желания','Почему некоторые желания с каждым годом все труднее исполнить','Магия Вуду. Создание амулета гри-гри для  избавления от негативных магических воздействий и получения поддержки на пути исполнения желания')
			+days('img/day_3.jpg','3 день','Ручка, бумага, пальто, шапка, пылесос','ритуал, чтобы все получилось','Что объединяет все наши желания?','Почему наши финансовые желания не исполняются','Ритуал настройки финансового ресурса','Как избавиться от долгов и должников','Ритуал на возврат долга и получение идеи, где взять деньги на погашение долга')
			+days('img/day_4.jpg','4 день','наручные часы, ручка, бумага','для открытия тех областей жизни, в которых у вас ступор','Почему Высшие силы посылают нам болезни','Стадии развития желания','Зарядка волшебных часов для того, чтобы все случалось вовремя','Какие эмоции влияют на возникновение болезней и неисполнение желаний')
			.day_wrapper
				img.day_img(src="img/day_5.jpg", alt="5 день")
				.day_description
					h4 5 день
					h5 На заняти понадобятся: 
						span Ручка, бумага, резинка от мешочка гри-гри, предметы вредной привычки, иголка с красной ниткой
					ul
						li Какие привычки мешают исполнению желания
						li Подсадка вредной привычки - один из способов человеческого и магического воздействия на ваше желание
						li Ритуал заморозки вредной привычки
						li Ритуал убирания препятствий для скорейшего исполнения желания


		a.button(href="javascript:void(0);" data-toggle="modal" data-target="#myModalForm") Записаться