mixin reaches(item,p)
	.reach_container
		.num_wrapper
			.reach_num= item
		p= p
section#you_reach
	.container
		h3 Этот 
			span интенсив 
			| даст вам:
		#reach_wrapper
			.col-md-6.col-sm-6
				+reaches('1','Возможность исполнить желание')
				+reaches('2','Уверенность в завтрашнем дне')
				+reaches('3','Получение предложения руки и сердца')
				+reaches('4','Счастливое обеспеченное будущее детей')
				+reaches('5','Погашение кредитов и возврат долгов')
				+reaches('6','Открытие тех областей жизни,где у вас полный ступор')
				+reaches('7','Избавление от мучившей болезни')
			.col-md-6.col-sm-6
				+reaches('8','Выгодная продажа недвижимости')
				+reaches('9','Защита от негативного магического воздействия')
				+reaches('10','Увеличение финансового потока')
				+reaches('11','Устранение различных конфликтов')
				+reaches('12','Получение энергии для исполнения желания')
				+reaches('13','Избавление от вредных привычек')
				+reaches('14','Получение высокооплачиваемой работы')
		a.button(href="javascript:void(0);" data-toggle="modal" data-target="#myModalForm") Записаться