.owl-carousel#carousel_text
    .item
        img(src="img/testim_1.jpg", alt="Отзыв 1")
    .item
        img(src="img/testim_2.jpg", alt="Отзыв 2")
    .item
        img(src="img/testim_3.jpg", alt="Отзыв 3")
    .item
        img(src="img/testim_4.jpg", alt="Отзыв 4")
