.owl-carousel.owl-theme#carousel_video
    .item.video_wrapper(data-youtube="ahjDjZpl088")
        img(src="img/video_testim_1.jpg" alt="Видео-отзыв 1" )
    .item.video_wrapper(data-youtube="cgAH_CIFGoo")
        img(src="img/video_testim_2.jpg" alt="Видео-отзыв 2" )
    .item.video_wrapper(data-youtube="F4lLpPSd6iA")
        img(src="img/video_testim_3.jpg" alt="Видео-отзыв 3" )
    .item.video_wrapper(data-youtube="8HH6ugeVNu0")
        img(src="img/video_testim_4.jpg" alt="Видео-отзыв 4" )
    .item.video_wrapper(data-youtube="1OVEEi7YmLk")
        img(src="img/video_testim_5.jpg" alt="Видео-отзыв 5" )
    .item.video_wrapper(data-youtube="LtzEbAJVvds")
        img(src="img/video_testim_6.jpg" alt="Видео-отзыв 6" )
    .item.video_wrapper(data-youtube="SA_biPb7WLA")
        img(src="img/video_testim_7.jpg" alt="Видео-отзыв 7" )
    .item.video_wrapper(data-youtube="pfJe7bOxj20")
        img(src="img/video_testim_8.jpg" alt="Видео-отзыв 8" )
    .item.video_wrapper(data-youtube="fYREJPTN-3s")
        img(src="img/video_testim_9.jpg" alt="Видео-отзыв 9" )