#author
	background-image url('../img/about_bg.jpg')
	background-position 0 center
	background-repeat no-repeat
	background-size cover
	width 100%
	padding-bottom 30px
	h3
		color #fff
#about
	width 50%
	float right
	h4
		margin 35px 0
	p
		font-size: 18px;
		font-family: "RobotoSlabRegular", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.4
		margin-bottom 25px
#serts
	background-color #292c38
	width 100%
	padding: 31px 0
	overflow: hidden
	border-top 3px solid #ffa019
	border-bottom 3px solid #ffa019
	.col-md-4
		height: 228px
		display: table
		margin-bottom 40px
		a
			display: table-cell
			vertical-align: middle
			text-align: center
	.button
		width 365px