#bonus
	#main_screen
		min-height calc(100vh - 222px)
		h1
			font-size: 64px;
			font-family: "RobotoSlabBold", sans-serif;
			color: rgb(237, 194, 43);
			line-height: 1;
			text-align: cetner
		.video_wrapper
			float none
			margin 20px auto 0