#footer
	width 100%
	border-top: 1px solid  rgb(255, 160, 25);
	background-color #292c38
	padding 30px 0
	text-align center
	color #fefefe
	h5
		font-size: 24px;
		font-family: "RobotoSlabBold", sans-serif;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1
		margin-bottom 18px
		span
			color #ffb43c
	p
	#conditions
		font-size: 14px;
		font-family: "RobotoRegular", sans-serif;
		color: rgb(254, 254, 254);
		line-height: 1.7
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc_buttons
	width 60%
	margin: 20px auto 0
	a
		display: inline-block
		margin: 0 18px 20px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-image linear-gradient(-13deg,#ffbf50, #ffa019)
			box-shadow 0 3px 7px 0 rgba(#ffbc4a, .26)
			color #292c38
			font-size 20px
			line-height 30px
			border-radius 50%
			&:hover
				background-image linear-gradient(-13deg, #ffa019,#ffbf50)
.modal-content
	background #292c38
	border 3px solid #ffa019
	text-align center
	padding 20px
	.form_newsletter
		display: block
		height auto
	h3
		font-size: 28px;
		font-family: "RobotoSlabRegular", sans-serif;
		color: #ffa019;
		line-height: 1.3;
		margin 0 0 20px
		text-align center
	p
		font-size: 23px;
		font-family: "RobotoRegular", sans-serif;
		color: rgb(255, 254, 254);
		line-height: 1.2;
		text-align center
	.infront_submit,
	.span_phone
		font-size: 18px
		margin-bottom 10px
	.email-block input,
	.phone-block input
		border: 0
		border-bottom 1px solid #fff
		background-color: transparent
		width 263px
		height: 100%
		padding: 14px 0
		font-size: 16px;
		text-align: left;
		font-family: "RobotoRegular", sans-serif;
		color: rgba(255, 254, 254, 0.6);
		line-height: 1
		margin 20px 0
	.close
		position fixed
		border 0
		border-radius 50%
		width 20px
		height 20px
		font-size 20px
		line-height 20px
		right 20px
		top 20px
		z-index 999