#plan_wrapper
	.day_wrapper
		margin-bottom 42px
		overflow hidden
		.day_img
			width 558px
			height 384px
			float left
		.day_description
			float left
			width 51%
			padding 0 30px 0
			h4
				font-size: 30px;
				font-family: "RobotoSlabBold", sans-serif;
				color: #ffa11b;
				font-weight: bold;
				line-height: 1.1;
				text-shadow: 0px 6px 7px rgba(255, 188, 74, 0.26);
			h5 
				font-size: 18px;
				font-family: "RobotoLightItalic", sans-serif;
				color: rgb(41, 44, 56);
				line-height: 1.2
				margin 15px 0 25px
			ul
				li
					font-size: 18px;
					font-family: "RobotoSlabRegular", sans-serif;
					color: rgb(41, 44, 56);
					line-height: 1
					margin-bottom 10px
					background-image url('../img/li.jpg')
					background-position 0 7px
					background-repeat no-repeat
					padding-left 30px
					list-style none
			.bonus
				font-size: 18px;
				font-family: "RobotoSlabBold", sans-serif;
				color: #292c38;
				font-weight: bold;
				line-height: 1.2
				span
					color #ffa11b
		&:nth-child(1)
			.day_description
				padding-top 33px
		&:nth-child(2)
			.day_img
				float right
				margin-top 13px
			.day_description
				padding-top 0
		&:nth-child(3)
			.day_description
				padding-top 44px
		&:nth-child(4)
			.day_img
				float right
			.day_description
				padding-top 44px
		&:nth-child(5)
			.day_description
				padding-top 40px