#testimonials
	background-image url('../img/testims_bg.jpg')
	background-repeat no-repeat
	background-position center left
	padding-bottom 90px
#carousel_text
#carousel_video
	.item
		width 80%
		margin 0 auto
#carousel_text
	.item
		img
			height 233px
.owl-controlls .owl-page span
	background transparent
	border 3px solid #292c38
	opacity 1
.owl-controlls .owl-page.active span
	background #292c38
.owl-controlls .owl-buttons div
	width 65px
.owl-pagination
	width 60%
	margin 0 auto
.owl-controlls
	position relative
	z-index 0
.owl-buttons
	position: absolute;
	width: 78%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -6px;
	z-index -1
.owl-prev
	float left
.owl-next
	float right