@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansBold.woff2') format('woff2'),
		 url('../fonts/OpenSansBold.woff') format('woff'),
		 url('../fonts/OpenSansBold.ttf') format('truetype'),
		 url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../fonts/RobotoLightItalic.eot');
    src: url('../fonts/RobotoLightItalic.eot') format('embedded-opentype'),
         url('../fonts/RobotoLightItalic.woff2') format('woff2'),
         url('../fonts/RobotoLightItalic.woff') format('woff'),
         url('../fonts/RobotoLightItalic.ttf') format('truetype'),
         url('../fonts/RobotoLightItalic.svg#RobotoLightItalic') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium.svg#RobotoMedium') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoSlabBold';
    src: url('../fonts/RobotoSlabBold.eot');
    src: url('../fonts/RobotoSlabBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoSlabBold.woff2') format('woff2'),
         url('../fonts/RobotoSlabBold.woff') format('woff'),
         url('../fonts/RobotoSlabBold.ttf') format('truetype'),
         url('../fonts/RobotoSlabBold.svg#RobotoSlabBold') format('svg');
}
@font-face {
    font-family: 'RobotoSlabRegular';
    src: url('../fonts/RobotoSlabRegular.eot');
    src: url('../fonts/RobotoSlabRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoSlabRegular.woff2') format('woff2'),
         url('../fonts/RobotoSlabRegular.woff') format('woff'),
         url('../fonts/RobotoSlabRegular.ttf') format('truetype'),
         url('../fonts/RobotoSlabRegular.svg#RobotoSlabRegular') format('svg');
}
iframe
	border 0
section
	padding 90px 0
h1
	margin 0
h3
	font-size: 44px;
	font-family: "RobotoSlabBold", sans-serif;
	color: rgb(41, 44, 56);
	line-height: 1;
	text-align: left;
	margin-bottom 70px
	span
		color #ffb43c
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.46%
		display block
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 3px
		top 0
		left 0
		right 0
		bottom 0
@import "parts/main"